@import "../../scss/config";

.block {
  @include flex(center, center);
  @include make-spacer('px', 6);

  border: 2px solid var(--color-dark);
  border-radius: 15px;
  min-width: 200px;
  height: 46px;
  text-align: center;
  cursor: pointer;
  transition: var(--default-transition);

  &:hover {
    background-color: var(--color-dark);

    .text {
      color: var(--color-accent);
    }
  }
}

.text {
  font-weight: var(--typography-bold);
}
