@import "../../scss/config";

.block {
  @include flex(center, center);
  @include make-spacer('px', 6);

  position: relative;
  border: 2px solid var(--color-dark);
  border-radius: 15px;
  min-width: 200px;
  height: 46px;
  text-align: center;
  cursor: pointer;
  transition: var(--default-transition);
  background-color: var(--color-light-900);
  z-index: 1;

  &:hover {
    background-color: var(--color-dark);

    .text {
      color: var(--color-accent);
    }
  }
}

.text {
  white-space: nowrap;
  font-weight: var(--typography-bold);
}
