:root {
  --color-white: #fff;
  --color-black: #000;

  --color-accent: #F26C6C;
  --color-secondary: #DCF26C;
  --color-light: #C0C0C0;
  --color-light-900: #D9D9D9;
  --color-dark: #24262D;

  --color-title: #24262D;
  --color-text: #24262D;
}
